<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enemyPos</key>
	<string>{300,120}</string>
	<key>windMaxSpeed</key>
	<string>50</string>
	<key>coinPos</key>
	<string>{550,150}</string>
	<key>goalPos</key>
	<string>{2770,200}</string>
	<key>gravity</key>
	<string>75.0f</string>
	<key>startPosition</key>
	<string>{90,150}</string>
</dict>
</plist>
